.map {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.map:focus {
  outline: none;
}
.container {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
