@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
  --terminal__gap: calc(5 / 350 * var(--modal__width));
  width: calc(100% - 40px);
  height: auto;
  margin-bottom: 30px;
}

.container:last-child {
  margin-bottom: 0;
}

.terminal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: clamp(14px, calc(16 / 550 * var(--modal__width)), 36px);
}

.name {
  background-color: #c6c7d2;
  height: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--terminal__gap) calc(2 * var(--terminal__gap));
}

.nameAndStatus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #282a34;
  padding: var(--terminal__gap) calc(2 * var(--terminal__gap));
}

.fieldName {
  color: white;
  padding-top: var(--terminal__gap);
  padding-bottom: var(--terminal__gap);
}

.fieldInput {
  width: 100%;
  color: white;
  padding-top: var(--terminal__gap);
  padding-bottom: var(--terminal__gap);
}

.textarea {
  color: white;
  background: transparent;
  font-family: Ubuntu;
  font-weight: 700;
  width: calc(100% - 40px);
  height: calc(5 * var(--terminal__gap));
  resize: none;
  border: none;
  padding: 0 calc(2 * var(--terminal__gap));
  overflow-y: hidden;
  transition: height 0.5s ease-in-out;
}

.textarea::placeholder {
  color: #797979;
}
.textarea:focus {
  outline: none;
  border-left: 1px solid white;
}
