.container {
  width: calc(100% - var(--gap_x));
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: var(--margin_x) var(--margin_y);
}

.header__container {
  width: calc(100% - var(--gap_x));
  height: auto;
  display: flex;
  flex-direction: column;
}

/* the headerTitle contains styles for the church's display name container (box) */
.headerTitle {
  position: relative;
  font-size: var(--card__header__text_size);
  margin-top: var(--margin_y);
  cursor: pointer;
  background-color: transparent;
  text-align: left;
  border: none;
  transition: all 0.3s ease;
}

/* the after styles are used to create an overlayed hover and focus animation */
.headerTitle::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--margin_y));
  left: calc(-1 * var(--margin_x));
  width: 0;
  height: calc(100% + var(--gap_y));
  background-color: rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease;
}
.headerTitle:hover::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--margin_y));
  left: calc(-1 * var(--margin_x));
  width: calc(100% + var(--gap_x));
  height: calc(100% + var(--gap_y));
  background-color: rgba(0, 0, 0, 0.22);
}

.headerTitle:focus {
  outline: none;
}

.headerTitle:focus::after {
  top: calc(-1 * var(--margin_y));
  left: calc(-1 * var(--margin_x));
  width: calc(100% + var(--gap_x));
  height: calc(100% + var(--gap_y));
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

/* the subtitle contains the coordinates, church type and info section */
.headerSubtitle {
  width: auto;
  height: auto;
  overflow: hidden;
}

.coordinates {
  margin: calc(var(--gap_x)) 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--card__coordinates_text_size);
  height: auto;
}

.latLong {
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}

.icon {
  font-size: var(--card__coordinates_icon_size);
  color: red;
}

.short_description {
  font-size: 10px;
  color: gray;
}

.info__container {
  position: relative;
  width: calc(100% - var(--gap_x));
  height: auto;
  margin: var(--gap_y) 0px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: var(--card__info_text_size);
}
.info__container::after {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  width: 3px;
  height: calc(100%);
  background-color: rgb(73, 78, 124);
}

.suggest__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span {
  position: relative;
}

.span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 4px;
  background-color: red;
  transition: width 0.5s ease-in-out;
}
.button:hover .span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: red;
  transition: width 0.5s ease-in-out;
}
.span::after {
  content: 'schimbare';
  position: absolute;
  top: -5px;
  left: 0;
  opacity: 0;
  color: rgb(82, 82, 82);
  transition: all 0.5s ease-in-out;
}

.button:hover .span::after {
  content: 'schimbare';
  position: absolute;
  top: -21px;
  left: 0;
  width: fit-content;
  height: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.button:focus {
  outline: 2px solid black;
}

.pen {
  color: rgb(59, 177, 255);
  font-size: 16px;
  margin-bottom: 4px;
}

.text {
  margin-right: 10px;
}
