.container {
  width: calc(100% - var(--gap_x));
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: var(--margin_x) var(--margin_y);
}

.header__container {
  width: calc(100% - var(--gap_x));
  height: auto;
  display: flex;
  flex-direction: column;
}

/* the headerTitle contains styles for the church's display name container (box) */
.headerTitle {
  position: relative;
  font-size: var(--card__header__text_size);
  margin-top: var(--margin_y);
  cursor: pointer;
}

/* the after styles are used to create an overlayed hover animation */
.headerTitle::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--margin_y));
  left: calc(-1 * var(--margin_x));
  width: 0;
  height: calc(100% + var(--gap_y));
  background-color: rgba(0, 0, 0, 0.048);
  transition: width 0.7s;
}
.headerTitle:hover::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--margin_y));
  left: calc(-1 * var(--margin_x));
  width: calc(100% + var(--gap_x));
  height: calc(100% + var(--gap_y));
  background-color: rgba(0, 0, 0, 0.048);
}

/* the subtitle contains the coordinates, text and info section */
.headerSubtitle {
  width: auto;
  height: auto;
  overflow: hidden;
}

.coordinates {
  margin: calc(var(--gap_x)) 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--card__coordinates_text_size);
  height: auto;
}

.latLong {
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}

.icon {
  font-size: var(--card__coordinates_icon_size);
  color: red;
}

.short_description {
  font-size: 10px;
  color: gray;
}

.info__container {
  position: relative;
  width: calc(100% - var(--gap_x));
  height: auto;
  margin: var(--gap_y) 0px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: var(--card__info_text_size);
}
.info__container::after {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  width: 3px;
  height: calc(100%);
  background-color: rgb(73, 78, 124);
}

.suggest__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: var(--gap_y);
}
.suggest__container::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 2px;
  width: 0px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}
.suggest__container:hover::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
  font-size: 16px;
}
.pen {
  color: rgb(59, 177, 255);
  font-size: 16px;
  margin-bottom: 4px;
}
