.container {
  position: absolute;
  z-index: 1000;
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  font-size: 14px;
  visibility: hidden;
  padding: 20px;
}
