@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 1.2em;
}

.suggestion {
  width: auto;
  height: auto;
  padding: 1em 0;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  max-width: fit-content;
  background-color: #515b63;
  color: aliceblue;
  padding: 1em 2em;
  margin: 0.5em 0;
  border-radius: 30px;
}
