.container {
  position: relative;
  width: 100%;
  height: var(--carousel_height);
  margin: 20px 0px;
}
.slide {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: fit-content;
  background: chartreuse;
}

.slide img {
  height: var(--carousel_height);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding: 5px;
  border-radius: 50%;
  transition: color 300ms;
  background-color: rgb(72, 72, 72);
  color: white;
}

.arrow:hover {
  background-color: black;
}

.next {
  top: 50%;
  right: 0;
}

.prev {
  top: 50%;
}
