.pannel {
  width: 100%;
  height: var(--pannel_height);
  margin-top: var(--gap_x);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__container {
  background-color: #dfdfdf;
  width: calc(100% - 2 * var(--gap_x));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* scrollbar customizations */
.cards__container::-webkit-scrollba r {
  width: 15px;
}

.cards__container::-webkit-scrollbar-track {
  background-color: #aaaaaa;
}

.cards__container::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #2b2d44;
}
