.app__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  font-size: 14px;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
