.container {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px 0px;
}
.scroller {
  position: relative;
  z-index: 0;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: rgb(137, 137, 255);
  transition: transform 1s;
}
.image__container {
  width: auto;
  margin: 5px;
}

.image__container img {
  max-width: 200px;
  max-height: 100%;
}

.icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  padding-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
.right {
  padding-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
