/* the container of the button */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.search__container {
  display: flex;
  width: calc(100% - 9em);
  height: 100%;
}
.search__bar {
  width: 100%;
  padding: 0.5em 0;
  font-weight: 600;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

.close {
  position: relative;
  height: 3em;
  width: 3em;
  color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.close:hover {
  color: #ffffff;
}

.close::before {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(225, 225, 225, 0.275);
  border-radius: 50%;
  transform: scale(0);
  transition-property: transform, opacity;
}

.close:hover::before {
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(1);
}

.search {
  height: 100%;
  padding: 0em 1em;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search__icon {
  font-size: 1em;
}
.close_icon {
  font-size: 2.5em;
}
