.container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  font-size: 12px;
}

@media screen and (max-width: 1440px) {
  .container {
    font-size: 12px;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .container {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 6px;
  }
}
