.panel {
  max-width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  margin-bottom: 2em;
}
.content__container {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
