.content__container {
  width: calc(100%-4em);
  margin: 1em 2em;
  height: auto;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.main__content {
  padding-left: 2em;
  width: calc(100% - 50px - 2em);
}

.icon__container {
  min-width: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  color: #5c95ae;
}

.top {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.first {
  margin-top: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.last {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-bottom: 2em;
}

.x-tiny {
  font-size: 0.5em;
}

.tiny {
  font-size: 1em;
}

.small {
  font-size: 1.5em;
}

.medium {
  font-size: 2em;
}

.large {
  font-size: 2.5em;
}

.x-large {
  font-size: 3em;
}
