.container {
  position: relative;
  width: 100%;
  padding: 0.5em;
  background-color: #d2d6d9;
  border-radius: 1em;
}
.slide {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.slide img {
  border-radius: 1em;
  transform: translateX(1em);
  max-width: calc(100% - 2em);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding: 5px;
  border-radius: 50%;
  transition: color 300ms;
  background-color: #3d6070;
  color: white;
}

.arrow:hover {
  background-color: #20333b;
}

.next {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.prev {
  top: 50%;
  transform: translateY(-50%);
}
