@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
  width: 650px;
  height: 800px;
  background-color: blanchedalmond;
  font-family: Ubuntu;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.title {
  margin-left: var(--gap_x);
}
.icon {
  margin-right: var(--gap_x);
  color: rgb(104, 104, 104);
  display: flex;
  align-items: flex-end;
}

.finish {
  color: rgb(103, 209, 89);
}

.cursor {
  margin: 5px;
  position: relative;
  animation: animate 0.8s alternate-reverse infinite;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.623);
  color: rgb(255, 255, 255);
}
.finishedToolTip {
  background-color: rgba(46, 129, 67, 0.63);
}

.pending {
  background-color: rgba(151, 86, 33, 0.658);
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
