@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
  --modal__gap_y: calc(5 / 550 * var(--modal__height));
  --typewritter__font_size: calc(36 / 650 * var(--modal__width));
  --icon_font: clamp(42px, calc(42 / 350 * var(--modal__width)), 56px);
  --button__height: calc(50 / 750 * var(--modal__height));
  --button__size: calc(22 / 850 * var(--modal__height));
  --button_padding: calc(20 / 750 * var(--modal__width));
  --icon__font_size: calc(36 / 550 * var(--modal__width));
  position: relative;
  width: var(--modal__width);
  height: var(--modal__height);
  background-color: rgb(255, 255, 255);
  font-family: Ubuntu;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: calc(100% - 2 * var(--gap_x));
  font-size: var(--typewritter__font_size);
  margin-bottom: var(--gap_x);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  height: auto;
}

.typewtitter {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.subcontainer {
  margin: var(--modal__gap_y) 0;
  font-size: 12px;
  color: #acacac;
  letter-spacing: 1px;
  font-weight: 400;
}

.close {
  position: relative;
  width: calc(100% - var(--gap_x));
  color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

.closeIcon {
  border-radius: 50%;
  font-size: var(--icon_font);
}

.closeIcon:hover {
  background-color: rgb(236, 236, 236);
}

.finish {
  color: rgb(103, 209, 89);
}

.cursor {
  margin: 5px;
  position: relative;
  animation: animate 0.8s alternate-reverse infinite;
}

.main__content {
  position: relative;
  width: 100%;
  height: calc(100% - 5 * var(--gap_x) - 100px - 50px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content::-webkit-scrollbar {
  width: var(--scrollbar_width);
}

.main__content::-webkit-scrollbar-track {
  background-color: #8b8b8b;
  border-radius: 100px;
}

.main__content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: #cacaca;
}

.button__container {
  position: relative;
  margin-top: calc(var(--gap_x));
  width: calc(100% - 2 * var(--gap_x));
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.button__content {
  width: calc(100% - var(--gap_x) + var(--scrollbar_width) / 4);
  height: auto;
  display: flex;
  justify-content: flex-start;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
