.container {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  color: #515b63;
}

.choice {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.option {
  position: relative;
  font-weight: 400;
  font-style: italic;
  margin: 0 3rem;
  cursor: pointer;
}

.underline {
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 40px;
  background-color: #515b63;
}
