@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  width: 100%;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 2em;
}

.options__container {
  width: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger__icon {
  color: white;
  font-size: 25px;
}

.filter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #444c53;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.filter_options__container {
  position: absolute;
  z-index: 9999;
  left: 50px;
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 254, 255);
  box-shadow: 0px 1px 22px -6px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
  padding: 1em 0;
}

.filter_option {
  padding: 0.5em 2em;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 18px;
}
.filter_option:hover {
  cursor: pointer;
  font-size: 19px;
}

.filter:hover {
  cursor: pointer;
}
